# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
logo: "assets/images/gluons.png"
title: information physics
email: "ncarrara.physics@gmail.com"
description: >- # this means to ignore newlines until "baseurl:"
  A site about machine learning and topological data analysis in physics.
github_username: infophysics
minimal_mistakes_skin: "dirt" # "air", "aqua", "contrast", "dark", "dirt", "neon", "mint", "plum" "sunrise"
search: true

# Build settings
markdown: kramdown
kramdown:
  syntax_highlighter: rouge
highlighter: rouge

remote_theme: mmistakes/minimal-mistakes

# Outputting
permalink: /:categories/:title/
paginate: 5 # amount of posts to show
paginate_path: /page:num/
timezone: # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones

include:
  - _pages

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache
  - highlight-linedivs

author:
  name   : "Nicholas Carrara"
  location: "Davis, CA"
  avatar : "/assets/images/bio-photo.jpg"
  bio    : "Post-doctoral researcher in physics and machine learning at UC Davis."
  links:
    - label: "infophysics"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/infophysics"
    - label: "UC Davis Neutrino Group"
      icon: "fas fa-fw fa-atom"
      url: "http://svoboda.ucdavis.edu/"
    - label: "UC Davis Machine Learning"
      icon: "fas fa-fw fa-code-branch"
      url: "https://github.com/UC-Davis-Machine-Learning"
    - label: "Open source data"
      icon: "fas fa-fw fa-database"
      url: "https://osf.io/hx6bk/"
    - label: "machine_learning_tutorials"
      icon: "fas fa-fw fa-code-branch"
      url: "https://github.com/infophysics/machine_learning_tutorials"
    - label: "tda_tutorials"
      icon: "fas fa-fw fa-code-branch"
      url: "https://github.com/infophysics/tda_tutorials"

header:
  image: /assets/images/wide_space.jpg

footer:
  links:
    - label: ""
      icon: "fab fa-fw fa-linkedin"
      url: "https://www.linkedin.com/in/nicholas-carrara-01719173/"
    - label: ""
      icon: "fab fa-fw fa-github"
      url: "https://github.com/infophysics"
    - label: ""
      icon: "fas fa-database"
      url: "https://osf.io/hx6bk/"

defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      show_date: true
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/
